.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.leftContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 50vh;
    margin: 0 2.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: white;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}